@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

:root {
  --red: rgba(255, 25, 25, 0.7);
  --gray: rgba(36, 36, 36, 0.5);
  --lineWidth: 10px;
  --lineLength: 41%;
  --digitHeight: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

body {
  background: black;
  height: 100vh;
  display: grid;
  place-content: center;
}

.githubLink {
  position: absolute;
  right: 20px;
  top: 20px;
}

.githubLink > img {
  opacity: 0.5;
  width: 30px;
  height: 30px;
  transition: all .5s ease;
}

.githubLink:hover > img {
  opacity: 1;
}

.date {
  color: var(--red);
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin: 0 2em 3em 2em;
}

.digit {
  height: var(--digitHeight);
  aspect-ratio: 1/2;
  margin: 0 .5em;
  position: relative;
}

.digit > div {
  background: var(--gray);
  border-radius: 1000px;
}

.top {
  margin: 0 auto;
  width: 85%;
  height: var(--lineWidth);
}
.topRight {
  width: var(--lineWidth);
  height: var(--lineLength);
  position: absolute;
  right: 0;
}
.topLeft {
  width: var(--lineWidth);
  height: var(--lineLength);
  position: absolute;
  left: 0;
}
.middle {
  width: 85%;
  height: var(--lineWidth);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bottomRight {
  width: var(--lineWidth);
  height: var(--lineLength);
  position: absolute;
  right: 0;
  bottom: var(--lineWidth);
}
.bottomLeft {
  width: var(--lineWidth);
  height: var(--lineLength);
  position: absolute;
  left: 0;
  bottom: var(--lineWidth);
}
.bottom {
  width: 85%;
  height: var(--lineWidth);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}


.colon {
  display: flex;
  flex-direction: column;
  height: var(--digitHeight);
  justify-content: space-around;
  margin: 0 1em;
}

.dot {
  width: 1.5em;
  height: 1.5em;
  background: var(--red);
  border-radius: 3px;
}

.numberGroup {
  display: flex;
}

.time {
  display: flex;
}

.ampm {
  color: var(--gray);
  height: var(--digitHeight);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1em;
  font-size: 2em;
}

@media screen and (max-width: 1000px ) {
  :root {
    --lineWidth: 7.5px;
    --digitHeight: 150px;
  }

  .dot {
    width: .75em;
    height: .75em;
    border-radius: 1px;
  }

  .ampm {
    font-size: 1.5em;
  }

  .date {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 770px ) {
  :root {
    --lineWidth: 5px;
    --digitHeight: 100px;
  }

  * {
    font-weight: 500;
  }

  .dot {
    width: .5em;
    height: .5em;
    border-radius: 1px;
  }

  .ampm {
    margin-left: .5em;
    font-size: 1em;
  }

  .date {
    font-size: 1em;
  }

  .digit {
    margin: 0 .25em;
  }

  .colon {
    margin: 0 .5em;
  }
}

@media screen and (max-width: 600px ) {
  :root {
    --lineWidth: 2.5px;
    --digitHeight: 50px;
  }

  .dot {
    width: .5em;
    height: .5em;
    border-radius: 1px;
  }

  .ampm {
    font-size: .75em;
  }

  .date {
    font-size: .75em;
  }
}